In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vestmannaeyjar,IS,2022-07-08 00:23:31,63.4427,-20.2734,50.18,85,100,23.67
1,1,Toccoa,US,2022-07-08 00:23:32,34.5773,-83.3324,81.18,89,40,0.00
2,2,Nangomba,TZ,2022-07-08 00:23:32,-10.9000,38.5000,62.04,91,8,2.95
3,3,Funadhoo,MV,2022-07-08 00:23:33,6.1500,73.2667,81.66,82,99,17.31
4,4,Hambantota,LK,2022-07-08 00:23:33,6.1241,81.1185,78.40,82,92,14.45

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Toccoa,US,2022-07-08 00:23:32,34.5773,-83.3324,81.18,89,40,0.00
3,3,Funadhoo,MV,2022-07-08 00:23:33,6.1500,73.2667,81.66,82,99,17.31
4,4,Hambantota,LK,2022-07-08 00:23:33,6.1241,81.1185,78.40,82,92,14.45
5,5,Hithadhoo,MV,2022-07-08 00:23:34,-0.6000,73.0833,81.41,77,100,4.97
8,8,Alta Floresta,BR,2022-07-08 00:23:37,-9.8756,-56.0861,79.14,44,23,4.14
9,9,Butaritari,KI,2022-07-08 00:23:40,3.0707,172.7902,81.95,77,86,15.52
10,10,Dingle,PH,2022-07-08 00:23:40,10.9995,122.6711,79.90,87,100,2.77
11,11,Yellowknife,CA,2022-07-08 00:20:43,62.4560,-114.3525,79.32,27,20,11.50
15,15,Daru,PG,2022-07-08 00:23:45,-9.0763,143.2092,79.02,89,94,13.98
16,16,Chumikan,RU,2022-07-08 00:23:46,54.7183,135.3150,75.54,55,84,14.72

In [20]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1          Toccoa      US     81.18  34.5773  -83.3324
3        Funadhoo      MV     81.66   6.1500   73.2667
4      Hambantota      LK     78.40   6.1241   81.1185
5       Hithadhoo      MV     81.41  -0.6000   73.0833
8   Alta Floresta      BR     79.14  -9.8756  -56.0861
9      Butaritari      KI     81.95   3.0707  172.7902
10         Dingle      PH     79.90  10.9995  122.6711
11    Yellowknife      CA     79.32  62.4560 -114.3525
15           Daru      PG     79.02  -9.0763  143.2092
16       Chumikan      RU     75.54  54.7183  135.3150

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Toccoa,US,81.18,34.5773,-83.3324,Quality Inn
3,Funadhoo,MV,81.66,6.1500,73.2667,Dhaffalhu Tourist Lodge
4,Hambantota,LK,78.40,6.1241,81.1185,Bungalow 63
5,Hithadhoo,MV,81.41,-0.6000,73.0833,Scoop Guest House
8,Alta Floresta,BR,79.14,-9.8756,-56.0861,Floresta Amazonica Hotel
9,Butaritari,KI,81.95,3.0707,172.7902,Isles Sunset Lodge
10,Dingle,PH,79.90,10.9995,122.6711,SEGAYA PROPERTY
11,Yellowknife,CA,79.32,62.4560,-114.3525,The Explorer Hotel
15,Daru,PG,79.02,-9.0763,143.2092,Daru Lodge
16,Chumikan,RU,75.54,54.7183,135.3150,Fortuna

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))